/*////////Base Styles////////*/
* {
   margin: 0px;
   padding: 0px;
}

html, body {
    font-family: 'Raleway' , sans-serif;
}

h1  {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 50px
}

form {
    margin-left: 20px;
    font-family: arial;
    font-size: smaller;
}

body  {
  /*background-color: lightyellow;*/
}

.background {
    background-image: url(../img/portlandia-brunch.jpg);
    filter: grayscale(100%);
}

section {
  font-family: 'Raleway' , sans-serif;
  display: block;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

/*////////Review Page Styles////////*/
#restselect {
  border-style: solid;
  margin: 20px 0 10px 0;
  padding: 10px 10px 10px 0;
  display: inline-block;
}

#container_reviews {
  margin: 0px auto;
  width: 500px;
}

#reviews {
    margin-top: 50px;
    margin-left: 20px;
}



header {
  height: 50px;
  /*! margin-bottom: 5px; */
  display: block;
}

#site-title {
  border: 2px solid white;
  padding: 5px 10px 0;
  margin: 5px;
}

nav {
  top: 0px;
  width: 100%;
  position: fixed;
  display: flex;
  color: white;
  background-color: #ff7f33;
  opacity: 0.85;
  cursor: pointer;
  padding-left: 12px;
}

/* li:first-child { */
  /*! border-left: 3px solid lightyellow; */
/* } */

nav #site-title {
  font-size: 25px;
}

nav ul {
  display: flex;
  height: 100%;
  margin-left: 20px;
  font-size: 17px;
}

nav ul li {
  padding: 15px 20px;
}

nav li:hover{
  background-color: lightblue;
  color: black;
}

nav li hover:not(.active) {
  background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#searchpage {
    height: 100%;
}

#map {
    height: 350px;
    width: 100%;
}

#timeandlocation {
  border-style: solid;
  margin: 20px 0 0 20px;
  padding: 10px 10px 10px 0;
  display: inline-block;
}

#generatedcontent {
  margin-left: 20px;
  display: inline-block;
}


#timeandlocationheader {
  margin-left: 20px;
}

#mapheader {
  margin-left: 20px;
}

/*#map-nav {
  margin-left: 20px;
}

#reviews-nav {
  margin-left: 20px;
}*/

#launchpage {
  font-family: 'Raleway' , sans-serif;
/*   position: absolute; */
  z-index: 5;
  width: 100%;
  margin-top: 75px;
  background-color: #f0f0f0;
}

.closed {
    height: 0px;
}

.open {
    height: 440px;
}

#imgWrapper {
    height: 440px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#launchpageimages {
  display: flex;
  justify-content: center;
  transition: all 1s;
}

#launchpageimages img{
  display: block;
  object-fit: cover;
  height: 300px;
  width: 300px;
}

/*#launchpageimages a {
  text-align: center;
}*/

#launchpageimages figure{
  /*border-style: solid;*/
  margin:0 10px;
}

#launchpageimages h4{
  text-align: center;
}

#buttondiv {
  margin: 5px;
}

.hide{
  opacity: 0;
}

#timeselect {
  margin: 5px;
}


#wrapper_btns_secondary {
  height: 25px;
}

#container_btns_secondary {
    display: inline;
    margin: auto;
    margin-right: 150px;
}

.btns_secondary {
    height: 25px;
    width: 100px;
    line-height: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid white;
}

.feature-frame {
    color: #7E7E7E;
    background-color: #FFF;
    padding: 15px 5px;
    margin: 20px;
    box-shadow: 0px 1px 2px gray;
}

figure, .feature-frame, #launchpageimages {
    transition: all 0.25s;
}

figcaption {
  text-align: center;
  padding: 8px 0 0;
}

.f-title {
  font-size: 20px;
  font-weight: bold;
}

figcaption a {
  text-decoration: none;
  color: orange;
}

/*////////Change Page Transitions////////*/
.invisible {
    opacity: 0;
}

.visible {
    opacity: 1.0;
}

.none {
    display: none;
}
.block {
    display: block;
}
