/*Initial styling from mockups */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}


h1  {
  font-family: 'Raleway', sans-serif;
  display:

}

body  {
  background-color: lightyellow;
}

section {
  font-family: 'Raleway' , sans-serif;
  background-color: lightblue;
}

form {
  font-family: monospace;
}

#launchpage {
  font-family: 'Raleway' , sans-serif;
}

#launchcontent {
  font-family: 'Raleway' , sans-serif;
  /*background-color: lightgreen;*/

}

#searchform {
  background-color:
}

#submitSearchButton {
}
